.App {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  gap: 16px;
}

.grid {
  display: grid;
  min-width: 40px;
  width: 40%;
  padding: 20px;
  gap: 20px;
  border: 1px solid black;
  grid-template-columns: repeat(3, 1fr);
}


.cell {
  background-color: orange;
  border: 1px solid black;
  height: 0;
  padding-bottom: 100%;
}

.cell_activated {
  background-color: green;
}
